<div>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" class="form-control" placeholder="Search Products" ng-model="search">
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <tr>
            <td>S.No</td>
            <td>Name</td>
            <td>Description
                <a href="#" ng-click="changeCriteria()">
                    <span  class="glyphicon glyphicon-triangle-top"></span>
                    <span  class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
            </td>
            <td>Price
                <a href="#" ng-click="changeCriteria()">
                    <span  class="glyphicon glyphicon-triangle-top"></span>
                    <span  class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
            </td>
        </tr>
        <!-- <tr ng-repeat="product in products|filter:search">-->
        <tr ng-repeat="product in 
                           products
                       |filter:{description:search}
                       |orderBy:sortCriteria">
            <td>{{$index+1}}</td>
            <td>{{product.model|uppercase}}</td>
            <td>{{product.description|limitTo:10}}</td>
            <td>{{product.price|currency :"Rs."}}</td>
            <td>
                <button class="btn btn-primary" ng-click="selectProduct(product)">Select</button>
            </td>
        </tr>
    </table>
<ul uib-pagination total-items="pager.totalItems"
     ng-change="pageChanged()"
    ng-model="pager.currentPage" 
    max-size="pager.maxSize"
    class="pagination-sm" 
    boundary-links="pager.showBoundaryLinks" 
    num-pages="pager.numberOfPages"></ul>
</div>
