<div ng-controller="productCtrl">

    <table class="table table-striped">
        <tr>
            <td>S.No</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{$index+1}}</td>
            <td>{{product.model}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price|currency :"Rs."}}</td>
                <td><button class="btn btn-primary" ng-click="selectProduct(product)">Select</button></td>
        </tr>
    </table>
<ul uib-pagination total-items="totalItems"  max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages=" numPages"></ul>
</div>

